.thick-line{
    height: 10px;
}

.tittle-logo{
    margin: 5px;
}

.dark-color{
    color: #747704;
}

.light-color{
    color: #BCBBBB;
}

@media only screen and (max-width: 800px){
    .center-align{
        text-align: center;
        font-size: 20px;
    }

    .logo-align{
        float: left;
    }
}
